- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/user.edit.css', :type => 'text/css', :media => 'all'}
  
#content
  %h1 Edit your profile
  %p This functionality will be available in a future implementation
  
