!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'SHDHers | A simple, yet comprehensive directory of SHDH participants.'
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Ubuntu', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css', :media => 'all'}
    %script{ :src => 'http://code.jquery.com/jquery-1.4.4.min.js', :type => 'text/javascript' }
    = yield_content :head
  %body.home  
    #content
      %img{:src => '/images/logo_80px.png'}
      %h1 SHDHers
      %p A simple, yet comprehensive directory of SHDH participants. Are you one of us?
      %a{:href => '/new'} Create your profile
