- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/user.list.css', :type => 'text/css', :media => 'all'}
  %script{:src => '/javascripts/jquery.quicksearch.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/user.list.js', :type => 'text/javascript'}

#content
  %h1 Participants
  #search
    %label{:for => 'search'} Live search
    %input.text{:type => 'text', :value => '', :name => 'search'}
  %ul.users
    - @users.each do |user|
      %li.user
        .name
          %a{:href => '/'+user.slug}= [user.first_name, user.last_name].join(' ');
        - unless user.interests.nil?
          .interests
            %h3 Interests
            - user.interests.each do |interest|
              %a.tag{:href => '/tags/'+interest}= interest
        - unless user.expertise.nil?
          .expertise
            %h3 Expertise
            - user.expertise.each do |experience|
              %a.tag{:href => '/tags/'+experience}= experience
