%h1 Create a new profile
%form{:action => 'new', :method => 'post'}
  %fieldset
    %h2 Basic information
    #username
      %label{:for => 'username'} Username
      %input.text{:type => 'text', :name => 'user[username]'}
    #first_name
      %label{:for => 'first_name'} First name
      %input.text{:type => 'text', :name => 'user[first_name]'}
    #last_name
      %label{:for => 'last_name'} Last name
      %input.text{:type => 'text', :name => 'user[last_name]'}
    #email
      %label{:for => 'email'} Email
      %input.text{:type => 'text', :name => 'user[email]'}
  %fieldset
    %h2 Profiles
    #twitter
      %label{:for => 'twitter'} Twitter
      %input.text{:type => 'text', :name => 'user[twitter]'}
    #github
      %label{:for => 'github'} Github
      %input.text{:type => 'text', :name => 'user[github]'}
  %fieldset
    %h2 Background
    #interests
      %label{:for => 'interests'} Interests
      %input.text{:type => 'text', :name => 'user[interests]'}
    #experience
      %label{:for => 'experience'} Experience
      %input.text{:type => 'text', :name => 'user[expertise]'}
  %fieldset.submit
    %input.submit{:type => 'submit', :value => 'submit'}