- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/user.new.css', :type => 'text/css', :media => 'all'}
  %link{:rel => 'stylesheet', :href => '/stylesheets/jquery.ui.autocomplete.custom.css', :type => 'text/css', :media => 'all'}
  %link{:rel => 'stylesheet', :href => '/stylesheets/select-replacement.css', :type => 'text/css', :media => 'all'}

  %script{:src => '/javascripts/jquery-ui-1.8.core-and-interactions.min.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/jquery-ui-1.8.autocomplete.min.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/select-replacement.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/taggable.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/user.new.js', :type => 'text/javascript'}
  %script{:src => '/javascripts/validate_unique.js', :type => 'text/javascript'}
  
  

#content
  %h1 Create a new profile
  %form{:action => 'new', :method => 'post'}
    %fieldset
      %h2 
        %span.number 1.
        %span Provide some basic information
      #name.field
        %label{:for => 'first_name'} Name
        .composite
          %input.text{:type => 'text', :name => 'user[first_name]'}
          %p.note First Name
        .composite
          %input.text{:type => 'text', :name => 'user[last_name]'}
          %p.note Last Name        
      #slug.field
        %label{:for => 'username'} Slug
        %input.text{:type => 'text', :name => 'user[slug]'}
        %p.note This is your unique URL
      #email.field
        %label{:for => 'email'} Email
        %input.text{:type => 'text', :name => 'user[email]'}
        %p.note Private and spamless. We promise.
    %fieldset
      %h2 
        %span.number 2.
        %span How can people find more about you?
      #twitter.field
        %p
          %span.http http://twitter.com/
          %input.text{:type => 'text', :name => 'user[twitter]'}
      #github.field
        %p
          %span.http http://github.com/
          %input.text{:type => 'text', :name => 'user[github]'}
      #personal.field
        %p
          %span.http http://
          %input.text{:type => 'text', :name => 'user[personal]'}
    %fieldset
      %h2 
        %span.number 3.
        %span What are you interested in?
      #interests.field
        %label{:for => 'interests'} Interest Tags
        %ul#interests_field.taggable
        %p.note Maybe you're not super experienced at some of these, but you're willing to learn
    %fieldset 
      %h2 
        %span.number 4.
        %span What do you have experience at? 
      #expertise.field
        %label{:for => 'experience'} Expertise Tags
        %ul#expertise_field.taggable
        %p.note Maybe you're not super excited about some of these, but you can always help others
    %fieldset
      %h2
        %span.number 5.
        %span What's the event you attend regularly?
      #location.field  
        %select{:name => 'user[location]'}
    %fieldset.submit
      %input.submit{:type => 'submit', :value => 'Create Profile'}